@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
	--c-text-primary: #282a32;
	--c-text-secondary: #686b87;
	--c-text-action: #404089;
	--c-accent-primary: #434ce8;
	--c-border-primary: #eff1f6;
	--c-background-primary: #fdfcff;
	--c-background-secondary: #ffffff;
	--c-background-tertiary: #ecf3fe;
	--c-background-quaternary: #e9ecf4;

	font-family: "Be Vietnam Pro", sans-serif;
	background-color: var(--c-background-primary);
}


.header ul{
	list-style-type: none;
	overflow: hidden;
	margin: 0;
	padding: 0;	
}

.header li{
	float : left;
	padding: 10px;
}

.header li:hover {
	background-color: var(--c-background-quaternary);
}

.header li a{
	display: block;
	text-align: center;
	text-decoration: none;
}


img {
	display: block;
	max-width: 100%;
	padding: 10px ;
	margin : auto;
}

.scroller {
	overflow:	 	scroll; 
	height:			300px;
}

.chart-container{
	position: relative;
	width: 95vw;
}

