<!DOCTYPE html>
<html>
<meta charset = "UTF-8">
<title> Data Engine </title>
<link rel = "stylesheet" href="{{url_for('static', filename='css/main3.css')}}">	

<div class="nav-menu">
	<ul>
		<li><a href="/">Home</a></li>
		<li><a href="/NER">NER</a></li>
		<li><a href="/Summarize">Summarize</a></li>
	</ul>
</div>

<div class = "top-image">
	<img src = "https://drive.tiny.cloud/1/sslbrdzhdf0bkymqpwnkjqu0ueb94p3bd5ybyqscw7tsjk36/cd82ea98-94a2-471e-9a50-01afb4a2197a" alt="Newspaper Headline Image">
</div>

{% block main %}
{% endblock %}