{% extends "base.html" %}

{% block main %}

	
<div class = 'content-header'>
	<h2> Seek And Store</h2>
	<p>Search the web for a query and store the results.</p>
</div>

	
<form action = "search" method = "post">
	<input class="link" type = "text" name = "search_input">
	<input class="button" type = "submit" value = "Submit" id = "greet">
</form>


{% if fx == 'search' %}
	<hr>
	<h2> Results : </h2>

	<div class = 'scroller'>
		<ul>
			{% for category, message in get_flashed_messages(with_categories=True)%}
				{% if category  == 'title' %}
					<li> {{message}} </li>
				{% elif category  == 'link' %}
					<li> {{message}} </li>
					<br>
				{% endif%}
			{% endfor %}
		</ul>
	</div>
{% endif %}



{% endblock %}