{% extends "base.html" %}


{% block main %}



<br>
<h1>Named Entity Recognition</h1>
<hr>

<form action = "NER_list_data" method = "post">
	<input class="button" type = "submit" value = "View Queries" id = "greet">
</form>	

{% if fx == 'NER_list_data' %}
	<div class = 'scroller'>
		{% for message in get_flashed_messages()%}
				{{message}} 
				<br>
		{% endfor %}
	</div>
{% endif %}
<hr>

<form action = "NER_list_documents" method = "post">
	<input class="link" type = "text" name = "query_number_input">
	<input class="button" type = "submit" value = "Submit Query #" id = "greet">
</form>

{% if fx == 'NER_list_documents' %}
	<h2> Results for query # {{query_num}} </h2>
	<div class = 'scroller'>

		{% for message in get_flashed_messages()%}
				{{message}} 
				<br>
		{% endfor %}
	</div>
{% endif %}


<hr>

<h2> Last query # was {{query_num}} </h2>
<form action = "NER_compare_documents" method = "post">
	<input name="query_num" id="query_num" value={{query_num}}>
	<input class="link" type = "text" name = "document_numbers">
	<input class="button" type = "submit" value = "Submit Document #s" id = "greet">
</form>


{% if fx == 'NER_compare_documents' %}

	<div class="chart-container">
	  <canvas id="myChart"></canvas>
	</div>

	<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

	<script>
	  const ctx = document.getElementById('myChart');

	  let chart_data = JSON.parse('{{chart_data | tojson}}');

	  new Chart(ctx, {
	    type: 'bar',
	    data: chart_data,
	    options: {
	      scales: {
	        y: {
	          beginAtZero: true
	        }
	      }
	    }
	  });
	</script>

{% endif %}



{% endblock %}