<!DOCTYPE html>
<html>
	<head>
		<meta charset = "UTF-8">
		<title> Data Engine </title>
		<link rel = "stylesheet" href="{{
		url_for('static', filename='css/main.css')}}">	
	</head>

	<div class = "header">
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/NER">NER</a></li>
		</ul>
	</div>

	<body>
		<img src = "https://drive.tiny.cloud/1/sslbrdzhdf0bkymqpwnkjqu0ueb94p3bd5ybyqscw7tsjk36/cd82ea98-94a2-471e-9a50-01afb4a2197a" alt="Newspaper Headline Image">
		<br>
		<h1>Named Entity Recognition</h1>

	</body>
</html>