{% extends "base.html" %}

{% block main %}

	
<div class = 'content-header'>
	<h2> Seek And Store</h2>
	<p>Search the web for a query and store the results.</p>
</div>

	
<form action = "search" method = "post">
	<input class="link" type = "text" name = "search_input">
	<input class="button" type = "submit" value = "Submit" id = "greet">
</form>


{% if fx == 'search' %}
	<hr>

	<h2>Results : </h2>
	<i>{{query}}</i>
	<br>
	<div class = 'scroller'>
		{% for title, displayLink in results%}
				
			<div class='container' style = 'margin-bottom:0px'>
				<div class = 'row'>
					<div class = 'col-10'>{{title}}</div>
					<div class = 'col-2'>{{displayLink}}</div>
				</div>
			</div>
			<hr>
				
		{% endfor %}
	</div>
{% endif %}



{% endblock %}